.home{
    position: relative;
    background: url(../../assets/home/background-home-mobile.jpg); 
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
}